.table th:nth-child(4),
.table td:nth-child(4) {
    text-align: left;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.table tbody tr:last-of-type {
    border-bottom: 1px solid #165227;
}

.table thead tr th {
    /* background-color: #148634; */
    background-color: #165227;
    color: white;
    text-align: left;
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table th,
.table td {
    padding: 20px;
}